{% assign menu = site.data.menu %}

{% if menu %}
  <nav class="navbar" role="navigation">
  	<span class="navbar-toggle" id="js-navbar-toggle"><i class="fas fa-bars"></i></span>
    <ul class="main-nav" id="js-menu">
      <li class="{% if page.url == '/' | prepend: site.baseurl %}active{% endif %}">
        <a class="nav-links" href="{{ '/' | prepend: site.baseurl }}">
          Home
        </a>
      </li>
      
    {% for item in site.data.menu %}
      <li class="{% if page.url == item.url %}active{% endif %}">
        {% if item.url contains 'http' %}
          <a class="nav-links" href="{{ item.url }}">
            {{ item.title }}
          </a>
        {% else %}
          <a class="nav-links" href="{{ item.url | prepend: site.baseurl }}">
            {{ item.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}