.navbar {
  margin-top: 0em;
  padding: 1em 0 1em 0;
  position: fixed;
  width: 100%;
  background: $brand-color;
  box-shadow: 4px 6px 12px rgba(darken($brand-color, 50%), .1);
  top: 0;
  &:hover,
  &:focus-within {
    a {
      opacity: .7;
    }
  }
  ul {
  	margin: 0;
  	//display: block;
  	//flex-wrap: wrap;
  	justify-content: center;
  }
  li {
	font-size: 1.25em;
//	list-style: none;
  	font-variant: small-caps;
  	margin: 0;
  	&.active a {
      border-bottom: solid 1px;
  	}
  }
  a {
    //display: block;
  	padding: .25em .5em;
  	text-decoration: none;
  	transition: opacity .25s ease-in-out;
  	&:hover,
  	&:focus {
      opacity: 1;
     color: $contrast-color;
  	}
  }
}

.main-nav {
	list-style-type: none;
	display: none;
	text-align: center;
}

.navbar-toggle {
	position: absolute;
	padding-right: 2em;
	right: 20px;
	top: 10px;
	cursor: pointer;
	//font-size: 24px;
}


.toggle-drop {
	display: block;
}

@media screen and (min-width: $on-tablet) {
	.navbar{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.main-nav {
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.navbar-toggle {
		display: none;
	}
}





// footer

.page-footer-links {
  margin-top: 0em;
  padding: 1em 0 1em 0;
  position: fixed;
  width: 100%;
  background: $brand-color;
  box-shadow: 4px 6px 12px rgba(darken($brand-color, 50%), .1);
  &:hover,
  &:focus-within {
    a {
      opacity: .7;
    }
  }
  bottom: 0;
  ul {
  	margin: 0;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  }
  li {
	font-size: 1em;
	list-style: none;
  	font-variant: small-caps;
  	margin: 0;
  	&.active a {
      border-bottom: solid 1px;
  	}
  }
  a {
    display: block;
  	padding: .25em .5em;
  	text-decoration: none;
  	transition: opacity .25s ease-in-out;
  	&:hover,
  	&:focus {
      opacity: 1;
     color: $contrast-color;
  	}
  }
}