---
---

@charset "utf-8";

$asset_url: '{{ '/assets' | absolute_url }}';

@import 
  "reset",
  "variables",
  "syntax-highlighting",
  "mixins",
  "font",
  "base",
  "masthead",
  "menu",
  "post-list",
  "article",
  "footnotes",
  "search"
;

.my-post-content {
    ul {
        list-style: disc outside none;
        margin-top: 1em;
        margin-left: 4em;
        margin-bottom: 1em;
    }
    li {margin-bottom: .25em;}
}

.my-post-title {text-align: center;}

.works-cited {
	text-align: left;
    ul {
        list-style: none;
        margin-left: 1em;
        color: $muted-text-color;
        font-size: 75%;
        text-align: left;
    }
    li {
	text-align: left;
        margin-bottom: .5em;
    }
    a {
        color: $muted-text-color;
    }
}

p {
    margin-bottom: 1em;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  margin-bottom: .5em;
}

